@import "tailwindcss";
@import './base.css';
.selected > *,.selected .col,.row.selected .sticky{
  @apply bg-blue-50 dark:bg-gray-700	;

}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.sticky,.row {
 @apply bg-white dark:bg-black	;
}

.row,.row .col,.row .week-slot::after{
   border-color:#0B120E24 #091e4224;
   @apply dark:border-gray-700;
}

/* Set default caret color for specific elements */
input, 
textarea, 
[contenteditable="true"] ,[contenteditable="true"] *{
    caret-color: initial !important; /* Uses the default caret color */
}

/* Hide caret in all other elements */
body * {
    caret-color: transparent; /* Makes caret invisible */
}
.plantime{
  @apply relative cursor-move bg-blue-300 hover:bg-blue-400 dark:bg-gray-800 dark:hover:bg-gray-600;
}


