@import "tailwindcss";
@import './base.css';



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.sticky,.row {
 @apply bg-white dark:bg-black	;
}

.row,.row .col,.row .week-slot::after{
   border-color:#0B120E24 #091e4224;
   @apply dark:border-gray-700;
}

/* Set default caret color for specific elements */
input, 
textarea, 
[contenteditable="true"] ,[contenteditable="true"] *{
    caret-color: initial !important; /* Uses the default caret color */
}

/* Hide caret in all other elements */
body * {
    caret-color: transparent; /* Makes caret invisible */
}
.plantime{
  @apply relative cursor-move bg-blue-300 hover:bg-blue-400 dark:bg-gray-800 dark:hover:bg-gray-600;
}





.row.drop-highlight {
  position: relative;
}
.row.drop-highlight::after{
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  left: var(--the-child-left);
  right: 0;
  bottom: 0;
  z-index: 999;
  border: 2px dashed #007bff;

}
.row.dropped {
  animation: fadeIn 0.5s ease;
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

 .selected{
  user-select: none!important;
  cursor: move;
}

.show.less,.show.more{font-weight: bold;}


.nochilds .collapse-section::after{
  content: "";
    width: 0;
    height: 0;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #ddd;
    border-radius: 2px;
    margin-left: 3px;
}


.hasChild.collapsed .collapse-section::after{
  content: "+";
}
.hasChild .collapse-section::after{
  content: "-";
}
 .pt{
position: relative;
}
 /*.pt::after{
  content: '';
  position: absolute;
  top: 1em;
  left: -7.5px;
  right: 7.5px;
  border-bottom: 1px solid green;
  z-index: 999;
  margin-top:2px;
}*/

.row.cur,.row.cur .sticky, .row.cur > *,.selected .col,.row.selected,.selected > *,.selected .col,.row.selected .sticky {
  @apply bg-blue-50 dark:bg-gray-700	;
}
.row.cur .col:nth-child(-n+2){
  background-color: lightskyblue;
}



.row.selected{
  position: relative;
}

.row.selected::before{    
  content: '';
  border-right: 3px solid blue;
  position: absolute;
  inset: 0;
  width: 1px;
  z-index: 8;}



  .sch {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  .row .sch {
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .selectStartRef, .rightDrag, .leftDrag {
    touch-action: none;
  }
  
  /* Prevent zooming on double-tap */
  @media (pointer: coarse) {
    .sch {
      touch-action: pan-x pan-y;
    }
  }

  .card .col .cell{
    @apply border-b border-dashed border-gray-200 dark:border-gray-800
  }

  .row .col:nth-child(-n+2) {
    /* Your styles here */
    background-color: lightblue;
    border-color: transparent;
  }